.auth-form-body {
    padding: 20px;
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #d8dee2;
      border-top-color: initial;
      border-top-style: initial;
      border-top-width: 0px;
      border-right-color: rgb(216, 222, 226);
      border-right-style: solid;
      border-right-width: 1px;
      border-bottom-color: rgb(216, 222, 226);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-left-color: rgb(216, 222, 226);
      border-left-style: solid;
      border-left-width: 1px;
    border-top: 0;
      border-top-width: 0px;
      border-top-style: initial;
      border-top-color: initial;
    border-radius: 0 0 3px 3px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
}

.auth-form {
    width: 400px;
    margin: 60px auto;
      margin-top: 60px;
      margin-right: auto;
      margin-bottom: 60px;
      margin-left: auto;
}

.auth-form-header {
    position: relative;
    padding: 10px 20px;
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    margin: 0;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    background-color: #829aa8;
    border: 1px solid #768995;
      border-top-color: rgb(118, 137, 149);
      border-top-style: solid;
      border-top-width: 1px;
      border-right-color: rgb(118, 137, 149);
      border-right-style: solid;
      border-right-width: 1px;
      border-bottom-color: rgb(118, 137, 149);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-left-color: rgb(118, 137, 149);
      border-left-style: solid;
      border-left-width: 1px;
    border-radius: 3px 3px 0 0;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
}